.comment-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto!important;
    margin-bottom: -220px;
    padding-top: 40px;
    background: url('../assets/banner/slider-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.comment-content .user{
    width: 280px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.637);
    border-radius: 10px;
    cursor: pointer;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.comment-content .owl-carousel{
    width: 90%!important;
    display: flex;
    height: auto!important;
    justify-content: center;
    align-items: center;
}

.comment-content .owl-stage{
    height: 400px!important;
}


.comment-content .user>.about{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.comment-content .user>.about>.name{
    font-size: 16px;
    font-weight: bold;
    color: rgb(66, 65, 65);
    margin-left: 13px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.comment-content .user>.about>.pp{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin-left: 10px;
}

.comment-content .user1>.about>.pp{
    background: url('../assets/pp/man3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.comment-content .user2>.about>.pp{
    background: url('../assets/pp/woman1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.comment-content .user3>.about>.pp{
    background: url('../assets/pp/man2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.comment-content .user4>.about>.pp{
    background: url('../assets/pp/woman2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.comment-content .user5>.about>.pp{
    background: url('../assets/pp/man4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.comment-content .user6>.about>.pp{
    background: url('../assets/pp/woman3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.comment-content .user7>.about>.pp{
    background: url('../assets/pp/kamil.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.comment-content .user>.comment{
    height: 70px;
    width: 100%;
    padding: 5px 20px 5px 20px;
    font-size: 14px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(56, 55, 55);
}