.footer{
    height: auto;
    background-color: #1292C0;
    padding: 40px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    z-index: 2;
}

.footer h4{
    color: white;
}

.footer ul{
    width: 100%;
}

.footer>.navigations{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.navigation1,.navigation2{
    width: 600px;
    height: auto;
    display: flex;
    justify-content: space-around;
}

.footer li{
    width: 100%;
}

.navigation1 a,.navigation2 a{
    color: white;
    text-decoration: none;
    transition:0.2s all;
    font-weight: lighter;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
}

.navigation1 a:hover,.navigation2 a:hover{
    color: white;
    text-decoration: underline;
    transition:0.2s all;
}

.footer .follow-content{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
    max-width: 1286px;
}

.footer>.follow-content>.e-mail{
    width: 200px;
    height: auto;
}

.footer form{
    display: flex;
}

.footer>.follow-content>.e-mail>form>input{
    width: 160px!important;
    height: 40px!important;
    border: none;
    outline: none;
    border-radius: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.footer>.follow-content>.e-mail>form>button{
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.footer .wp{
    width: 25px;
    height: 25px;
    padding-left: 30px;
    background: url('../assets/icons/wp.png');
    background-size: 100%;
    background-repeat: no-repeat;
    margin-right: 10px;
    background-position: center;
}

.footer .whatsapp>a{
    font-size: 20px;
    color: white;
}

.footer>.follow-content>.e-mail>form>button>span{
    width: 25px;
    height: 25px;
    background: url('../assets/icons/tlgrm.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.footer>.follow-content p{
    color: white;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
}


.social{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.social>a>div{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:0.3s all;
    cursor: pointer;
    border: 1px solid white;
}

.social>a>div:hover{
    background-color: white;
    transition:0.3s all;
}

.social>a>.twitter>.icon{
    width: 25px;
    height: 25px;
    background: url('../assets/social-icons/twitter_white.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition:0.3s all;
}

.social>a>.twitter:hover .ticon{
    width: 25px;
    height: 25px;
    background: url('../assets/social-icons/twitter_blue.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition:0.3s all;
}

.social>a>.facebook>.icon{
    width: 25px;
    height: 25px;
    background: url('../assets/social-icons/facebook_white.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition:0.3s all;
}

.social>a>.facebook:hover .ficon{
    width: 25px;
    height: 25px;
    background: url('../assets/social-icons/facebook_blue.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition:0.3s all;
}

.social>a>.instagram>.icon{
    width: 25px;
    height: 25px;
    background: url('../assets/social-icons/instagram_white.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition:0.3s all;
}

.social>a>.instagram:hover .iicon{
    width: 25px;
    height: 25px;
    background: url('../assets/social-icons/instagram_red.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition:0.3s all;
}

.social>a>.youtube>.icon{
    width: 25px;
    height: 25px;
    background: url('../assets/social-icons/youtube_white.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition:0.3s all;
}


.social>a>.youtube:hover .yicon{
    width: 25px;
    height: 25px;
    background: url('../assets/social-icons/youtube_red.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition:0.3s all;
}

.privacy{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80px;
    padding: 0 20px 0 20px;
    background-color: rgb(243, 243, 243);
    color: #666666;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}

.li{
    width: 15px;
    height: 15px;
    background: url('../assets/icons/li.png');
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    padding: 7px;
    margin-right: 4px;
}

.footer li{
    display: flex;
    align-items: center;
}

@media screen and (max-width:920px){
    .social>a>div{
        margin: 5px;
    }
}

@media screen and (max-width:767px){
    .footer ul{
        margin: 0;
    }

    .footer .follow-content{
        flex-direction: column;
        align-items: center;
    }

    .footer .e-mail,.footer .whatsapp{
        margin-bottom: 30px;
    }

    .footer .navigation1,.footer .navigation2{
        flex-direction: column;
    }

    .footer .navigation2>div,.footer .navigation1>div{
        margin-bottom: 40px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .footer .n3_1{
        margin-bottom: 40px;
    }

    .footer li{
        height: 30px;
    }

    .footer li>a{
        font-size: 20px;
    }
    .footer>.follow-content>.e-mail{
        width: 100%;
        height: auto;
    }
    
    .footer form{
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .footer .e-mail h4, .footer .e-mail p{
        text-align: center!important;
    }
    
    .footer>.follow-content>.e-mail>form>input{
        width: 60%!important;
        height: 40px!important;
        border: none;
        outline: none;
        border-radius: 0;
    }
    
    .footer>.follow-content>.e-mail>form>button{
        width: 40px;
        height: 40px;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
    }

    .footer .navigation2>div>ul,.footer .navigation1>div>ul{
        width: auto!important;
    }

    .footer .wp{
        width: 25px;
        height: 25px;
        padding-left: 30px;
        background: url('../assets/icons/wp.png');
        background-size: 100%;
        background-repeat: no-repeat;
        margin-right: 10px;
        background-position: center;
    }

    .footer .whatsapp{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    .footer .whatsapp>a{
        font-size: 20px;
        color: white;
    }

    .navigations{
        flex-direction: column;
        width: 100%;
    }

    .navigations>div{
        width: 100%;
    }


}