.navbar{
    width: 100%;
    height: 80px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.199) 1px 1px 5px;
    display: flex;
    justify-content: center!important;
    align-items: center;
    position: fixed!important;
    top: 0;
    margin: 0!important;
    padding: 0!important;
    z-index: 10000;
}

.navbar>*{
    height: 80px;
}

.navbar>.logo{
    width: 150px!important;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.navbar>.logo>a>img{
    width: 150px!important;
    height: auto;
}

.navbar>.canli-destek{
    font-size: 15px;
    color: rgb(102, 102, 102);
    transition:0.2s all;
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-left: 10px;
}

.navbar>.canli-destek:hover{
    color: #1292C0;
    transition:0.2s all;
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.navbar>.navigation{
    margin: 0;
    width: 60%;
    max-width: 1200px;
    padding: 0;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar>.navigation>li{
    list-style-type: none;
    width: 100%!important;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    max-width: 200px;
    transition: 0.03s all;
}

.navbar>.navigation>li>a{
    text-decoration: none;
    width: 100%!important;
    color: rgb(102, 102, 102);
    height: 100%!important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    padding: 0 5px 0 5px;
    text-align: center;
    transition: 0.03s all;
}

.navbar>.navigation>li>a:hover{
    color: white!important;
    transition: 0.03s all;
}

.navbar>.navigation>li>a:hover{
    background-color: #1292C0;
    transition: 0.03s all;
} 

.navbar>.search-bar{
    width: 50px;
    height: 80px;
    transition: 0.2s all;
    background-color: rgb(243, 243, 243);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.navbar>.search-bar>.search-bar-icon{
    width: 25px;
    height: 25px;
    background: url('../assets/icons/search-icon.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
} 

.mobile-menu,.mobile-menu-button{
    display: none;
}

.open{
    height: auto;
    position: fixed;
    top: 80px;
    padding: 10px 20px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #1292C0;
    display: none;
}

.open h1,.open h2, .open h3, .open h4, .open h5, .open h6, .open p, .open span{
    color: white!important;
    text-decoration: none!important;
}

.open a{
    color: rgba(255,255,255,0.7)!important;
    font-size: 13px!important;
    font-weight: lighter;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif!important;
}

.open a:hover{
    color: white!important;
    text-decoration: underline;
}

.open li{
    padding: 5px 0;
    display: flex;
    align-items: center;
}

.open1, .open2, .open3{
    min-width: 768px!important;
    width: 85%!important;
}

.open2 ul,.open3 ul{
    margin-bottom: 0!important;
}

.open1 ul,.open2 ul,.open3 ul{
    width: 100%!important;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.open1 ul>li,.open2 ul>li,.open3 ul>li{
    width: 20%!important;
}

.navbar .open4{
    width: 200px;
    left: 38%;
    right: 0;
}

.navbar li{
    cursor: context-menu;
}

.list-desktop-cover{
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background: url('../assets/banner/invert.png');
    background-size: 50%;
    background-position: center;
    background-repeat: repeat;
    position: fixed;
    opacity: 0.8;
    display: none;
}



@media screen and (max-width:1050px){
    .navbar>.logo{
        margin: 0px;
    }

    .navbar .open4{
        left: 42%;
    }

    .navbar>.navigation{
        width: 67%;
        justify-content: space-around;
        padding: 0;
    }

    .navigation>li>a{
        font-size: 12px!important;
    }

    .navbar>.canli-destek{
        width: 120px;
        font-size: 13px!important;
        margin-left: 0px;
    }

}

@media screen and (max-width:767px){
    .navbar>.search-bar,.navbar>.navigation,.navbar>.canli-destek{
        display: none!important;
    }

    .navbar{
        justify-content: space-around!important;
    }

    .mobile-menu-button{
        display: block;
        width: 50px!important;
        height: 50px!important;
        display: flex;
        justify-content: center;
        align-items: center;
        background: url('../assets/icons/menu.png');
        background-size: 60%;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 50%;
        border: 1px solid rgb(102, 102, 102);
        cursor: pointer;
    }

    .mobile-menu{
        display: flex;
        width: 100%;
        height: 100vh;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.774);
        z-index: 1123232;
        margin-left: 200vw;
        transition: 1s all;
    }

    .mobile-menu>.navigation{
        margin: 20px;
        width: 100%;
        overflow-y: auto;
        padding-bottom: 20px;
    }

    .mobile-menu h1,.mobile-menu h2, .mobile-menu h3, .mobile-menu h4, .mobile-menu h5, .mobile-menu h6, .mobile-menu p, .mobile-menu span{
        color: white!important;
        text-decoration: none!important;
    }

    .mobile-menu>.navigation>li{
        width: 100%;
    }

    .mobile-menu>.navigation>li>.m_open{
        display: none;
    }

    .mobile-menu>.navigation>li>.m_open>h5{
        margin-top: 20px!important;
    }

    .mobile-menu>.navigation>li>.m_open>ul>li>a{
        color: rgba(255,255,255,0.7);
    }

    .mobile-menu>.navigation>li:first{
        margin-top: 110px!important;
    }

    .mobile-menu>.navigation>li{
        list-style-type: none;
        width: 100%;
        margin: 20px 0 30px 0;
        border-bottom: 1px solid #666666;
        padding-bottom: 10px!important;
    }
    
    .mobile-menu>.navigation>li>a{
        color: white;
        font-size: 25px!important;
        font-weight: lighter;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-decoration: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .mobile-menu>.close-menu{
        width: 30px;
        height: 30px;
        position: absolute;
        right: 15px;
        top: 15px;
        background: url('../assets/icons/close.png');
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

    .mobile-menu>.navigation>form{
        width: 100%;
        display: flex;
        margin-bottom: 50px!important;
    }

    .mobile-menu>.navigation>form>input{
        width: 70%!important;
        border: 1px solid white;
        background-color: rgba(0, 0, 0, 0);
        height: 40px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        outline: none;
        font-size: 18px;
        padding: 0 10px 0 10px;
        color: white;
    }

    .mobile-menu>.navigation>form>button{
        width: 30%!important;
        border: 1px solid white;
        background-color: rgba(0, 0, 0, 0);
        height: 40px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        outline: none;
        padding: 0 10px 0 10px;
        color: white;
        background-color: #1292C0;
        border-left: 0px;
    }

    .mobile-menu>.navigation>li>a>.li{
        width: 25px!important;
        height: 25px!important;
        background-size: 100%!important;
        background: url('../assets/icons/m_li.png');
        background-position: center;
        background-repeat: no-repeat;
    }

}