.search-content{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.774);
    z-index: 1123232;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.search-content>form{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.search-content>form>input{
    width: 30%;
    height: 50px;
    border: none;
    outline: none;
    padding: 0 20px 0 20px;
    font-size: 20px;
    border-radius: 5px;
}

.search-content>form>button{
    width: 50px;
    height: 49px;
    border: none;
    outline: none;
    margin-left: 20px;    
    background-color: rgb(18, 146, 192);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: 0.2s all;
    cursor: pointer;
}

.search-content>form>button>.button-ara{
    width: 25px;
    height: 25px;
    background: url('../assets/icons/search.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition:0.2s all;
}

.search-content>form>button:hover .button-ara{
    transform: scale(1.1);
    transition:0.2s all;
}

.search-content>form>button:hover{
    transition: 0.2s all;
}

.search-content>.close-item{
    width: 30px;
    height:30px;
    background: url('../assets/icons/close.png');
    background-size: 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    position: absolute;
    top: 65%;
    transition:0.2s all;
}

.search-content>.close-item:hover{
    transform: scale(1.1);
    transition:0.2s all;
}

@media screen and (max-width:767px){
    .search-content{
        display: none;
    }
}