.header-carousel{
    width: 100%!important;
    background: url('../assets/banner/99402221-vector-computer-pattern-computer-seamless-background.jpg');
    background-size: 50%;
    background-repeat: repeat;
    margin-top: 60px;
    padding: 0 6%;
    height: 640px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.header-carousel .carousel-inner{
    border-radius: 15px!important;
    border: 10px solid rgb(224, 224, 224);
    max-width: 1300px;
    width: 100%;
    height: 500px;
}

#magicCarousel{
    max-width: 1300px!important;
    width: 100%;
    margin: 0!important;
}

.header-carousel .header-carousel-inner{
    height: 500px!important;
    max-width: 1300px!important;
    width: 100%;
}

#test-img3{
    background: url(../assets/sliders/28157.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#test-img2{
    background: url(../assets/sliders/zad.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#test-img1{
    background: url(../assets/sliders/factors-afecting-english2.bmp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.img{
    width: 100%;
    height: 500px;
}

@media screen and (max-width:767px){
    .header-carousel{
        width: 100%!important;
    }

    .header-carousel .carousel-inner{
        box-shadow: none;
        border: 0!important;
        border-radius: 0!important;
    }

    .header-carousel{
        height: 440px;
    }
      
    .header-carousel .carousel-inner{
        height: 300px;
    }
    
    .header-carousel .header-carousel-inner{
        height: 300px!important;
    }
    
    #test-img3{
        background: url(../assets/sliders/28157.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .img{
        height: 300px;
    }
}