.speed-dials-content{
    width: 300px!important;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgb(243, 243, 243);
}

.speed-dials-content>a{
    border-bottom: 1px solid rgb(243, 243, 243);
}

.speed-dials-content>.dial-6{
    border-bottom: 0px;
}

.speed-dials-content>.dial{
    width: 300px!important;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition:0.2s all;
}

.speed-dials-content>.dial:hover{
    background-color: #1292C0;
    transition:0.2s all;
}

.speed-dials-content>.dial:hover .text{
    color: white;
    transition:0.2s all;
}

.speed-dials-content>.dial>.speed-icon{
    width: 20px;
    height: 20px;
    margin-left: 20px;
    margin-right: 10px;
}

.speed-dials-content>.dial-1>.speed-icon{
    background: url('../assets/icons/tag_gray.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.2s all;
}

.speed-dials-content>.dial-1:hover .speed-icon{
    background: url('../assets/icons/tag_white.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.2s all;
}

.speed-dials-content>.dial-2>.speed-icon{
    background: url('../assets/icons/list_gray.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.2s all;
}

.speed-dials-content>.dial-2:hover .speed-icon{
    background: url('../assets/icons/list_white.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.2s all;
}

.speed-dials-content>.dial-3>.speed-icon{
    background: url('../assets/icons/pen_gray.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.2s all;
}

.speed-dials-content>.dial-3:hover .speed-icon{
    background: url('../assets/icons/pen_white.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.2s all;
}

.speed-dials-content>.dial-4>.speed-icon{
    background: url('../assets/icons/university_gray.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.2s all;
}

.speed-dials-content>.dial-4:hover .speed-icon{
    background: url('../assets/icons/university_white.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.2s all;
}

.speed-dials-content>.dial-5>.speed-icon{
    background: url('../assets/icons/date_gray.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.2s all;
}

.speed-dials-content>.dial-5:hover .speed-icon{
    background: url('../assets/icons/date_white.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.2s all;
}

.speed-dials-content>.dial-6>.speed-icon{
    background: url('../assets/icons/book_gray.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.2s all;
}

.speed-dials-content>.dial-6:hover .speed-icon{
    background: url('../assets/icons/book_white.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.2s all;
}

.speed-dials-content>.dial>.text{
    font-size: 15px;
    transition:0.2s all;
    color: rgb(102, 102, 102);
    font-weight: lighter;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media screen and (max-width:767px){
    .speed-dials-content{
        width: 100%!important;
        margin-bottom: 50px;
    }
}