*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style-type: none!important;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

.container{
    width: 100%;
    height: auto;
    display: flex;
}

.speed-dials{
    height: auto;
    background-color: rgb(243, 243, 243);
    padding: 30px 100px 30px 100px;
    display: flex;
    max-width: 1885px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.speed-dials>a{
    height: 180px;
    background-color: #1292C0;
    max-width: 400px;
    transition: 0.2s all;
    margin: 20px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.speed-dials>a>.icon-content{
    width: 60px;
    height: 60px;
    background-color: white;
    margin-right: 4%;
    border-radius: 100%;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.speed-dials>a>.text{
    color: white;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.speed-dials>.dial-1>.icon-content>.tag{
    width: 40px;
    height: 40px;
    background: url('../assets/icons/tag_blue.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition:0.2s all;
}

.speed-dials>.dial-2>.icon-content>.list{
    width: 40px;
    height: 40px;
    background: url('../assets/icons/list_blue.png');
    background-size: 65%;
    background-position: center;
    background-repeat: no-repeat;
    transition:0.2s all;
}

.speed-dials>.dial-3>.icon-content>.pen{
    width: 40px;
    height: 40px;
    background: url('../assets/icons/pen_blue.png');
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    transition:0.2s all;
}

.speed-dials>.dial-4>.icon-content>.uni{
    width: 40px;
    height: 40px;
    background: url('../assets/icons/university_blue.png');
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    transition:0.2s all;
}

.speed-dials>.dial-5>.icon-content>.date{
    width: 40px;
    height: 40px;
    background: url('../assets/icons/date_blue.png');
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    transition:0.2s all;
}

.speed-dials>.dial-6>.icon-content>.book{
    width: 40px;
    height: 40px;
    background: url('../assets/icons/book_blue.png');
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    transition:0.2s all;
}

.country-categories{
    width: 100%;
    height: auto;
    background-color: #F3F3F3;
    padding: 30px 60px 30px 60px;
    display: flex;
    flex-wrap: wrap;
    max-width: 1700px!important;
    justify-content: center;
    align-items: center;

}

.country-categories>.country-item{
    height: 300px;
    background-color: rgb(243, 243, 243);
    display: flex;
    margin: 0;
    padding: 0;
    width: 530px;
}

.country-categories>.c1>.image{
    background: url('../assets/banner/england.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 50%;
    height: 100%;
}

.country-categories>.c2>.image{
    background: url('../assets/banner/america.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 50%;
    height: 100%;
}

.country-categories>.c3>.image{
    background: url('../assets/banner/australia.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 50%;
    height: 100%;
}

.country-categories>.c4>.image{
    background: url('../assets/banner/canada.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 50%;
    height: 100%;
}

.country-categories>div>.items{
    width: 50%;
}

.country-item>.items{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 5%;
}

.country-item>.items>p{
    font-size: 20px;
}

.country-item>.items>ul>li{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5px;
}

.country-item>.items>ul>li>a{
    color: rgb(102, 102, 102);
    font-size: 12px;
    transition: 0.2s all;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.country-item>.items>ul>li>a:hover{
    color: #1292C0;
    transition: 0.2s all;
}

.country-item .pin{
    width: 4.5px;
    height: 10px;
    background: url('../assets/icons/item.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 5px;
}

.dil-okullari-content,.fiyatlar-content,.hakkimizda-content,.iletisim-content,.blog-content,.post-content,.kalite-content,.university-content,.ulke-content,.yurtdisi-content,.etkinlik-content,.etkinlik-post-content{
    width: 100%;
    height: auto;
    margin-top: 100px;
    padding: 20px 7% 20px 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-inner{
    width: 100%;
    background-color: rgb(243, 243, 243);
    margin-bottom: 50px;
    padding: 15px;
    max-width: 1400px;
}

.nav-inner>a{
    color: rgb(102, 102, 102);
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    transition: 0.2s all;
}

.nav-inner>a:hover{
    color: #1292C0;
    transition: 0.2s all;
}

.dil-okullari-content>.main-content{
    width: 100%;
    height: auto;
}

.main-content{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.main-content>h2{
    width: 100%;
    max-width: 1400px;
    text-align: left;
    color: rgb(102, 102, 102);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sub-content{
    width: 100%;
    height: auto;
    max-width: 1400px!important;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding: 0;
}

.dil-okullari-content>.main-content>.sub-content>.countries{
    height: auto;
    max-width: 900px;
}

.dil-okullari-content>.main-content>.sub-content>.countries>div{
    width: 226.7px;
    height: 151.1px;
    margin: 10px;
    float: left;
}

.dil-okullari-content>.main-content>.sub-content>.countries>div>div{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.658);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dil-okullari-content>.main-content>.sub-content>.countries>div>div>a{
    font-size: 18px;
    color: white;
    background-color: #1292C0;
    padding: 8px 16px;
}

.dil-okullari-content>.main-content>.sub-content>.countries>.item1{
    background: url('../assets/flags/america.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.dil-okullari-content>.main-content>.sub-content>.countries>.item2{
    background: url('../assets/flags/england.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.dil-okullari-content>.main-content>.sub-content>.countries>.item3{
    background: url('../assets/flags/australia.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.dil-okullari-content>.main-content>.sub-content>.countries>.item4{
    background: url('../assets/flags/canada.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.dil-okullari-content>.main-content>.sub-content>.countries>.item5{
    background: url('../assets/flags/new_zelland.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.dil-okullari-content>.main-content>.sub-content>.countries>.item6{
    background: url('../assets/flags/car.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.dil-okullari-content>.main-content>.sub-content>.countries>.item7{
    background: url('../assets/flags/ireland.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.dil-okullari-content>.main-content>.sub-content>.countries>.item8{
    background: url('../assets/flags/scotland.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.dil-okullari-content>.main-content>.sub-content>.countries>.item9{
    background: url('../assets/flags/malta.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.dil-okullari-content>.main-content>.sub-content>.countries>.item10{
    background: url('../assets/flags/france.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.fiyatlar-content>.main-content>.sub-content>.fiyat-liste{
    height: auto;
}

.fiyatlar-content>.main-content>.sub-content>.fiyat-liste a{
    color: #1292C0;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.fiyatlar-content>.main-content>.sub-content>.fiyat-liste a:hover{
    text-decoration: underline;
}

.fiyatlar-content>.main-content>.sub-content>.fiyat-liste>ul>li{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.dot{
    margin-right: 10px;
    width: 5px;
    height: 5px;
    border-radius: 200%;
    background-color: rgb(102, 102, 102);
}

.hakkimizda,.iletisim{
    height: auto;
}

.hakkimizda>img{
    width: 100%;
}

.hakkimizda>*,.kalite>*{
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    color: #666666;
}

.iletisim>.alert{
    width: 100%;
}

.iletisim{
    display: flex;
    width: 100%!important;
    flex-direction: column;
    align-items: center;
}

.iletisim>form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.iletisim>form input,.iletisim>form select{
    width: 30vw;
    height: 45px;
    border-radius: 0;
    outline: none;
    background-color: rgb(251, 251, 251);
    padding: 0 10px 0 10px;
}

.iletisim textarea{
    background-color: rgb(251, 251, 251);
    padding: 0 10px 0 10px;
}

.iletisim label{
    color: rgb(102, 102, 102);
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.iletisim button{
    width: 120px;
    height: 50px;
    background-color: #1292C0;
    color: white;
    border: none;
    outline: none;
}

.checkbox-label{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    line-height: 30px;
}

.checkbox{
    width: 12px!important;
    height: 12px!important;
    margin-right: 5px;
    margin-top: 9px;
}

.blog{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog>.blog-post{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 20px 10px 20px;
    border: 1px solid #F3F3F3;
    transition:0.2s all;
    margin-bottom: 30px;
    border-radius: 8px;
}

.blog>.blog-post:hover{
    box-shadow: rgba(48, 48, 48, 0.116) 1px 1px 5px;
    transition:0.2s all;
    border: 1px solid rgba(255,255,255,0);
}

.blog>.blog-post>img{
    width: 40%;
    margin-bottom: 30px;
}

.blog>.blog-post>.title{
    font-size: 20px;
    text-align: center;
    width: 60%;
    color: rgb(102, 102, 102);
}

.blog>.blog-post>.shared-time{
    font-size: 12px;
    margin-top: 40px;
    margin-bottom: 10px;
    align-self: flex-end;
    color: rgb(128, 126, 126);
}

.post-navigation{
    width: 300px;
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.post-navigation *{
    color: white;
    font-size: 15px;
    background-color: #1292C0;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.post-navigation *:hover{
    color: white;
}

.post-navigation #selected{
    background-color: white;
    border: 1px solid #1292C0;
    color: #1292C0;
}

.post{
    height: auto;
    flex-direction: column;
    display: flex;
    justify-content: center!important;
    align-items: center!important;
}

.post img{
    width: 90%;
}

.post .post-text{
    margin-top: 50px;
    color: rgb(102, 102, 102);
    margin-bottom: 50px;
}

.post-content .share{
    width: 250px;
    height: 60px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.post-content .share>a{
    padding: 10px;
    border-radius:100%;
    border: 1px solid white;
}

#tw{
    border-color: rgb(0, 172, 237);
}

#fb{
    border-color: rgb(59, 87, 157);
}

#ig{
    border-color: rgb(218, 32, 40);
}

#yt{
    border-color: rgb(218, 32, 40);
}

.post-content .share>a>.tw{
    width: 30px;
    height: 30px;
    background: url('../assets/social-icons/twitter_blue.png');
    background-size: 100%;
    background-position: center;
}

.post-content .share>a>.fb{
    width: 30px;
    height: 30px;
    background: url('../assets/social-icons/facebook_blue.png');
    background-size: 100%;
    background-position: center;
}

.post-content .share>a>.ig{
    width: 30px;
    height: 30px;
    background: url('../assets/social-icons/instagram_red.png');
    background-size: 100%;
    background-position: center;
}

.post-content .share>a>.yt{
    width: 30px;
    height: 30px;
    background: url('../assets/social-icons/youtube_red.png');
    background-size: 100%;
    background-position: center;
}

.kalite{
    margin-bottom: 50px;
}

.uni-item{
    width: 100%;
    border: 1px solid rgb(243, 243, 243);
    height: auto;
    margin-bottom: 20px;
}

.collapse-item{
    color: #1292C0;
    padding: 15px 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-weight: 600;
}

.uni-item .uni{
    width: 100%;
    border-bottom: 1px solid rgb(243, 243, 243);
    padding: 15px;
    font-size: 15px;
    color: #1292C0;
    display: flex;
    align-items: center;
}

.demo>a:nth-child(even) div{
    background-color: rgb(243, 243, 243);
}


.ulke{
    padding-top: 20px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ulke img{
    margin-bottom: 30px;
}

iframe{
    width: 80%;
    height: 25vw;
}

.diyalok-devam,.kayit{
    margin-bottom: 80px;
}

.etkinlik{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.etkinlik-post-link{
    width: 100%;
    height: auto;
    padding: 30px;
    border: 1px solid rgb(243, 243, 243);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    transition:0.2s all;
    border-radius: 10px;
}

.etkinlik-post-link>img{
    width: 90%;
}

.etkinlik-post-link>.etkinlik-text{
    font-size: 30px;
    color: rgb(102, 102, 102);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    margin-top: 25px;
    transition:0.2s all;
}

.etkinlik-post-link>.etkinlik-tarih{
    font-size: 15px;
    color: #1292C0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 20px;
    transition:0.2s all;
}

.etkinlik-post-link:hover{
    box-shadow: rgba(48, 48, 48, 0.116) 1px 1px 5px;
    transition:0.2s all;
    border: 1px solid rgba(255,255,255,0);
}

.etkinlik-post>.post-text{
    margin: 10px 0 40px 0;
}

.etkinlik-post>img{
    width: 100%;
}

@media screen and (max-width:1199px) and (min-width:992px){
    .country-categories{
        padding: 30px 0 30px 0;
    }

    .country-item{
        width: 450px!important;
    }

    .checkbox-label{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        font-size: 12px!important;
    }
    
} 

@media screen and (max-width:991px) and (min-width:768px){
    .country-categories{
        padding: 30px 0 30px 0;
    }

    .country-item{
        width: 370px!important;
    }

    .dil-okullari-content>.main-content>.sub-content>.countries>div{
        width: 150px;
        height: 99.97px;
        background-color: red;
        margin: 10px;
        float: left;
    }

    .iletisim>form input,.iletisim>form select{
        width: 45vw;
    }

    .checkbox-label{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        font-size: 12px!important;
    }

    .blog>.blog-post>img{
        width: 80%!important;
        margin-bottom: 30px;
    }
    
    .blog>.blog-post>.title{
        font-size: 15px!important;
    }
    
}

@media screen and (max-width:767px){
    .speed-dials{
        height: auto;
        background-color: rgb(243, 243, 243);
        padding: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .speed-dials>a{
        flex-direction: column;
    }

    .speed-dials>a>.icon-content{
        margin: 0 0 20px 0;
    }

    .country-categories{
        flex-direction: column;
        padding: 0!important;
        width: 100%!important;
    }

    .country-item{
        width: 100%!important;
    }

    .country-item>div{
        width: 100%!important;
        height: 75vw!important;
    }

    .country-item p{
        font-size: 5vw!important;
    }

    .country-item a{
        font-size: 2.5vw!important;
    }

    .c1,.c2{
        flex-direction: column;
        height: auto!important;
    }

    .c3,.c4{
        flex-direction: column-reverse;
        height: auto!important;
    }

    .dil-okullari-content>.main-content>.sub-content>.countries{
        width: 80%;
        padding: 0;
        margin: 0!important;
    }

    .dil-okullari-content>.main-content>.sub-content>.countries>div{
        width: 100%;
        height: 48vw;
        margin: 0;
        float: left;
        margin-bottom: 50px;
    }

    .sub-content{
        flex-direction: column;
       align-items: center;
    }

    .dil-okullari-content>.main-content>.sub-content>.countries>div>div>a{
        font-size: 18px;
        color: white;
        background-color: #1292C0;
        padding: 3vw 5vw;
    }

    .iletisim>form{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .iletisim>form input,.iletisim .konu,.iletisim textarea,.textarea-label{
        width: 76vw!important;
    }

    .iletisim>form select{
        width: 100%;
    }

    .checkbox-label{
        width: 100%;
        display: flex;
        justify-content: flex-start!important;
    }

    .checkbox{
        width: 12px!important;
        height: 12px!important;
    }

    .checkbox-label{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        line-height: 30px;
        font-size: 10px!important;
    }

    
    .blog>.blog-post>img{
        width: 100%!important;
        margin-bottom: 30px;
    }
    
    .blog>.blog-post>.title{
        font-size: 15px!important;
        padding: 0 10px;
        width: 100%;
    }

    .post-navigation{
        width: 250px!important;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .post img{
        width: 100%;
    }
    
    .post .post-text{
        margin-top: 20px;
        font-size: 14px;
    }

    .dil-okullari-content,.fiyatlar-content,.hakkimizda-content,.iletisim-content,.blog-content,.post-content,.kalite-politikamiz,.university-content,.ulke-content,.yurtdisi-content,.etkinlik-content,.etkinlik-post-content{
        margin-top: 80px;
    }

    .university{
        margin-bottom: 50px;
        width: 100%!important;
        padding:0;
    }

    iframe{
        width: 100%;
        height: 50vw;
    }

    .uni-item,.etkinlik-post{
        width: 100%;
    }

    .etkinlik{
        width: 95vw;
    }

    .etkinlik-post-link>.etkinlik-text{
        text-align: center;
        font-size: 20px!important;
    }

    .etkinlik-post-link>.etkinlik-tarih{
        font-size: 13px!important;
        text-align: center;
    }

}