.universities{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto!important;
    margin-bottom: -100px;
    border-top:1px solid rgb(102, 102, 102);
    padding-top: 50px;
}

.universities .owl1{
    background: url('../assets/university/_school-01.png');
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.universities .owl2{
    background: url('../assets/university/_school-02.png');
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.universities .owl3{
    background: url('../assets/university/_school-03.png');
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}
.universities .owl4{
    background: url('../assets/university/_school-05.png');
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.universities .owl5{
    background: url('../assets/university/_school-06.png');
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.owl1,.owl2,.owl3,.owl4,.owl5,.owl6,.owl7{
    width: 260px!important;
    height: 80px!important;
    cursor: pointer;
    margin: auto;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.637)!important;
}

.universities .owl-carousel{
    width: 90%!important;
    display: flex;
    height: auto!important;
    justify-content: center;
}

.universities .owl-stage{
    height: 200px;
}